body {
    background-color: #F0F0F0;
/*    background-color:#000033;*/
    font-size:16px;
    font-family: Arial;
    color: #000000;
}
#ligne{
    height: 30px;
    background-color: #CC0000;
}
#lignebas{
    height: 15px;
    background-color: #CC0000;
}
#page {
    background-color: white;
    width: 800px;
    margin:auto;
}

#entete {
    height:110px
}
#entete_gauche { 
    float:left;
    margin-right: 20px;
    padding-right: 20px;
    width: 340px;
    padding-left: 20px;
}

#entete_droite {
    float:left;
    margin-top: 10px;
    margin-right: 20px;
    width: 180px; 
    margin-left:200px; 
}

#entete_droite img{
    max-width: 50%;
}

#centre {
    margin: 20px;
}
#menu {
    margin: 15px;
}
#menu a {
    padding: 5px;
    height:25px;
    font-size:14px;
    font-weight:bold;
}  
#menu a:hover, #menu a.active {
    background-color:#CC0000;
    color:#FFFFFF;
}

#info {
    padding: 20px;
}

#info img {
    float:left; 
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}
#info p {
    text-indent: 10px;
}

#basdepage {
    height: 120px;
    background-color: #292929;     
    text-align: center;
}
#basdepage a{
    line-height: 120px; 
    color: #FFFFFF;
}

h1 {    
    font-size:30px;
    color:#000033;     
}

h2 {
    font-size:25px;
    color:#000033;
    line-height: 25px;
}

a {    
    text-decoration: none;
    color: #CC0000
}
a:hover {
    color: #CC0000
}

li {
    line-height: 20px;
}

li a {
     color: #000000;     
}

ul,ol {
     padding-left: 40px; 
     padding-right: 40px;    
}

ul li {
     list-style-image: url(ressources/pointrouge.jpg);    
}

#liste1, #liste2, #tableaux{
    margin: auto;
    width: 90%;
}
#liste1, #liste2{
    height: 110px;
}

#liste1 ul{
    float:left;   
    margin: 0px;
}

#tableaux img {
    float:right; 
    height: 150px;
    margin-left: 10px;
    margin-right: 60px;
}

#tableaux p {
    padding: 0px 20px;
    height: 150px;    
}

#tableau{ 
    float:top; 
    margin: auto;
    width: 90%;
}
#infos { 
    float:top; 
    padding: 20px;   
}
#infos p{ 
    font-size:20px;
    font-weight:bold;    
}
table, td, th{ 
       height: 40px;
}
table{    
    border-collapse: collapse;

}

table a {
    color:#FFFFFF;
}
table a:hover {
    padding:10px;
    background-color:#FFFFFF;
    color:#CC0000;
}
th{
    background-color: #CC0000;
    color:#FFFFFF;
    border: 1px solid black;
    width: 100px;
}
td{
    padding:5px;
    text-align:center;
    border: 1px solid black;
}

#empty,#empty1
{
    border: 0px;
}

#connexion
{
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
}

:required
{
    margin: auto;
    border-color: #CC0000;
}

#formulaire, #formulaire_sortie
{
   margin:auto;
   width: 50%;
}
#formulaire_contact
{
   margin:auto;
   width: 90%;
}

fieldset{
   border-color: #000033;
   border-radius: 8px;
   background-color: #F0F0F0;
   
}

#fieldconnexion, #fielddeconnexion{
   border-color: #CC0000;
   background-color: white;
}

legend{
    color:#000033;
    font-size: 20px;
}

#legconnexion, #legfermeture{ 
    color: #CC0000;
    font-weight:bold;
}

textArea{
    height:150px;
    max-width:800px;
    min-width:500px;
}